$teal: #008080;
$brown: #757763;
$brown-light: #3d3d36;
$purpuly: #A663AF;
$orange: #ffbb00;
$greenish: #11FFaa;
$redish: #ff0000;
$black: #000000;
$white-text: #FAFAFA;
$white-sub-text: #F0F0F0;
$background: #393939;
$foreground-text: #FAFAFA;
