@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Material+Icons:400,700');
$roboto-font-path: "~materialize-css/dist/fonts/roboto/";


// Set your brand colors

// Update Bulma's global variables
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", "Nunito", Ubuntu, sans-serif;
@import "./style/_all";
@import "~materialize-css/sass/components/color-variables";

$primary-color: #000000 !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;
 
/*** $secondary-color: color("teal", "lighten-1") !default; ***/
$secondary-color: color("purple", "accent-3") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("teal", "darken-1") !default;
@import "~materialize-css/sass/materialize";